<div class="row">
  <div class="column column-20">
    <h1>Show Map</h1>
  </div>
  <div class="column column-80">
    <div id="googleMap" phx-update="ignore" phx-hook="Map">
      <div id="map"></div>
    </div>
  </div>
</div>
